{# templates/location/new.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Create New Location</h1>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div>
        {{ form_label(form.city) }}
        {{ form_widget(form.city) }}
        {{ form_errors(form.city) }}
    </div>
    <div>
        {{ form_label(form.country) }}
        {{ form_widget(form.country) }}
        {{ form_errors(form.country) }}
    </div>
    <div>
        {{ form_label(form.latitude) }}
        {{ form_widget(form.latitude) }}
        {{ form_errors(form.latitude) }}
    </div>
    <div>
        {{ form_label(form.longitude) }}
        {{ form_widget(form.longitude) }}
        {{ form_errors(form.longitude) }}
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    {{ form_end(form) }}
{% endblock %}
